*{
    box-sizing: border-box;
}

body{
  background-image: url("https://images.unsplash.com/37/tEREUy1vSfuSu8LzTop3_IMG_2538.jpg?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  min-height: 100vh;
  margin-right:2rem;
  

}
h1{
  font-weight: normal;
  font-size: 4rem;
  margin-top: 5rem;
}
p{
  margin-top: 30rem;
}

.countdown-container{
  display:flex;
  flex-wrap: wrap;
  margin-right: 0;  
}

.big-text{
  font-weight:bold;
  font-size: 6rem;
  line-height: 1;
  margin:5rem  2rem;
}

.countdown-el {
  text-align: center;
}

.countdown-el span{
  font-size:2rem;
  font-weight: normal;
} 